nav {
  background-color: #21222a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 25px;
  height: 90px;
}

img {
  margin-right: 7px;
  width: 28.93px;
  height: 28.93px;
}

span {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #61dafb;
}

.nav-title {
  display: flex;
  align-items: center;
}

.nav-description {
  margin: 0;

  line-height: 19px;
  font-size: 16px;
  font-weight: 600;
  color: #deebf8;
  font-style: normal;
}
